.landingPageSection {
  max-width: 320px;
  padding: 20px 20px;
  margin: 0 auto;
  margin-top: 80px;
}

.landingPageSection input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  padding: 10px;
}

.landingPageTitle {
  font-size: 18px;
  line-height: 25px;
}

.quizFormContainer {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.bloodTypeFormContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -32px;
}

.bloodTypeForm {
  display: flex;
  justify-content: space-evenly;
  color: rgba(155, 159, 170, 1);
  font-size: 14px;
  font-weight: 600;
}

input::placeholder {
  color: rgba(155, 159, 170, 1);
}

.bloodTypeParagraph {
  padding: 0 10px;
  color: rgba(155, 159, 170, 1);
}

.bloodTypeForm input {
  margin-right: 15px;
}

input[type="radio"] {
  accent-color: rgba(252, 132, 45, 1);
}

.bloodTypeBtnContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px;
}

.submitFormBtn {
  outline: none;
  border: none;
  width: 210px;
  border-radius: 25px;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 4%;
  text-align: center;
  background-color: rgba(252, 132, 45, 1);
  color: white;
}

@media (min-width: 425px) and (max-width: 768px) {
  .landingPageSection {
    max-width: 768px;
    padding: 32px;
  }

  .landingPageTitle {
    margin-bottom: 32px;
  }

  .quizFormContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .bloodTypeFormContainer {
    margin-top: 0;
  }

  .bloodTypeParagraph {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding: 0 10px 10px 10px;
  }

  .landingPageTitle {
    max-width: 648px;
    font-size: 34px;
    line-height: 47px;
  }
}

@media (min-width: 769px) {
  .landingPageSection {
    max-width: 1600px;
    margin-top: 0;
  }

  .landingPageTitle {
    margin-bottom: 32px;
  }

  .quizFormContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .bloodTypeFormContainer {
    margin-top: 0;
  }

  .bloodTypeParagraph {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding: 0 10px 10px 10px;
  }

  .landingPageTitle {
    max-width: 648px;
    font-size: 34px;
    line-height: 47px;
  }

  .bloodTypeBtnContainer {
    position: absolute;
    top: 550px;
    left: 310px;
  }
}
